<div class="main">
    <div class="sidebar pt-2">
        <ul>
            <a href="/admin"><li class="sb"><span><i class="fa fa-user pr-2"></i>Profile</span></li> </a>
            <a href="/admin/jobs"><li class="sb"><span><i class="fa fa-graduation-cap pr-2"></i>Graduate Opportunities</span></li></a>
            <a href="/admin/study"><li class="sb"><span><i class="fa fa-file-invoice-dollar pr-2"></i>Paid Research Studies</span></li></a>
        </ul>
    
    </div>
    <div class="dash">
    