<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
   <!-- Font Awesome Css --> 
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
 
    <!-- Bootstrap core CSS     -->
    <link href="/creative_tim/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/creative_tim/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/creative_tim/css/paper-dashboard.css" rel="stylesheet"/>
    



    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/creative_tim/css/themify-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/overrides.css">


  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74195105-14"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74195105-14');
</script>

<!-- Analytics Ends Here -->
<title>Pensill</title>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    <img src="/images/pensill.png" width="" height="40" class="d-inline-block align-top" alt="">
                    <b class="text-dark">
                            <b>
                              <span style="font-weight: normal;">&nbsp; <strong>Pensill</strong> <small>beta</small></span>
                            </b>
                    </b>

                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/admin/">
                        <i class="ti-user"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/jobs">
                        <i class="fas fa-graduation-cap "></i>
                        <p>Projects</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/study">
                        <i class="fa fa-file-invoice-dollar pr-2"></i>
                        <p>Paid Research Studies</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar bar1"></span>
                          <span class="icon-bar bar2"></span>
                          <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                      </div>
                      <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                          <li>
                            <a href="#">
                              <i class="ti-settings"></i>
                              <p contenteditable="true">Log out</p>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>



