
<script>

        $(document).ready(function() {
            $('#job_table').DataTable();
        } );

</script>


</div>
</div>
</body>


<div class="col-md-12 text-center d-md-flex align-items-right bg-yellow text-right p-auto"  >
        <i class="d-block  mx-auto "></i>
        <p class="mb-0 py-1 pr-5">©2018 Pensill All rights reserved</p> <p class="mb-0 py-1 pr-5"><a href="/tos">Terms Of Service</a></p><p class="mb-0 py-1">made with <i class="fas fa-heart color-red "></i>  in waterloo by <a href="https://www.linkedin.com/in/harjotsparmar/">Harjot</a><br></p>
     </div>

</html>