<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/dashboard_overrides.css">
  <link rel="stylesheet" href="/stylesheets/datatables.css">


  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74195105-14"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74195105-14');
</script>

<!-- Analytics Ends Here -->
  
  <% if(1>2) {%>
    <title><%= title %></title>
    <% } else { %>
      <title> Pensill </title>
    <% } %>

</head>
  <body>
  <nav class="navbar navbar-expand-md navbar-secondary bg-primary navbar-border">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/pensill.png" width="" height="40" class="d-inline-block align-top" alt="">
        <b class="text-dark">
          <b>
            <span style="font-weight: normal;">&nbsp; <strong>Pensill</strong> <small>beta</small></span>
          </b>
        </b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item text-dark ov-nav-links ov-nav-links pl-2 pr-2">
            <a class="nav-link text-white" href="/opportunities/listing">
              <b class="text-dark"></b>
            </a>
        </li>
        </ul>

       
         <a class="btn" href="/admin/logout">  <span><i class="fa fa-user pr-2 "></i><strong><%= user.username %></strong></span></a>
         <a class="btn ov-btn-login" href="/admin/logout"> </i>Logout</a>
      </div>
    </div>
  </nav>
