

<div class="py-2 text-center bg-light">
    <div class=" container my-2"><% if(typeof mssg!== 'undefined') {%>
      <div class="alert alert-success" role="alert">
      <strong>You successfully updated the listing!!</strong>
      </div>
      <% }%></div>

        <div class="container card ">

          <div class="container p-3 bg-white">
                <div class="row">
                        <div class="col-md-12 my-2"><a class="btn btn-secondary float-right" href="/admin/study/add"> <i class="fa fa-plus-circle pr-2"></i> Add New Study </a></div>
                      </div>
            <div class="table-responsive text-left">
              <table class="table table-hover" id="job_table">
                <thead>
                  <tr>
                    <th>Post Date</th>
                    <th>Title</th>
                    <th>Renumeration</th>
                  </tr>
                </thead>
                <tbody>
                <% opp.forEach(function(data){ %>
                    <tr>
                        <td><%= data.post_date.toLocaleDateString("en-US") %></td>
                        <td class="truncate"><%= data.title %></td>
                        <td><%= data.amount %></td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>

            </div>


          </div>


        </div>
      </div>