<div class="py-2">
    <div class="container p-2 px-4" style="background-color:white;">
      <div class="row">
        <div class="col-md-12">
          <h4 class="">Profile</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 border border-primary"><img class="profile_image" src="images/pensill.png"></div>
        <div class="col-md-4">
          <form class="">
            <div class="form-group"> <label>Name<br></label> <input type="text" class="form-control" value="Pensill" name="name"> </div>
            <div class="form-group"> <label>Designation<br></label> <input type="text" class="form-control" value="Admin Assistant" name="job_title"></div>
            <div class="form-group"> <label>Affiliated Labs<br></label> <input type="text" class="form-control" name="labs" value="Make It Simple Lab"> </div>
          </form>
        </div>
        <div class="col-md-4">
            <form class="">
              <div class="form-group"> <label>Email<br></label> <input type="text" class="form-control" placeholder="pensill@uwaterloo.ca" name="email"> </div>
              <div class="form-group"> <label>Phone<br></label> <input type="text" value="+519-000-0000" class="form-control" name="phone"></div>
            </form>
        </div>
      </div><div class="row mt-2">
        
        <div class="col-md-12">
          <form class="">
            <div class="form-group"> <label>Research Interest<br></label> <input type="text" class="form-control" name="research_interest" value="Talent Matching, Easy search "> </div>
            <div class="form-group"> <label>Biography<br></label> <textarea  class="form-control"  name="biography" id="" cols="30" rows="10"></textarea> </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>