

<div class="col-md-12 text-center d-md-flex text-white align-items-right bg-yellow text-right p-auto"  >
        <i class="d-block  mx-auto "></i>
        <p class="mb-0 py-1 pr-5">©2018 Pensill All rights reserved</p> <p class="mb-0 py-1 pr-5"><a href="/tos" class="text-white">Terms Of Service</a></p><p class="mb-0 py-1">made with <i class="fas fa-heart color-red "></i>  in waterloo by <a class="text-white" href="https://www.linkedin.com/in/harjotsparmar/">Harjot</a><br></p>
     </div>

     

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>