

<% job_list.forEach(function(job){ %>

<div class="col-md-6 col-sm-12 py-2">
    <div class="card">
      <div class="card-header"><h4><%= job.title %></h4>  </div>
      <div class="card-body">
        <h6 class="text-muted"> <p><%= job.description %></p></h6>
        <% job.theme.forEach(function(theme){ %>
        <h5 style=" display: inline-block">
        	<span class="badge badge-primary"><%= theme %></span>
        </h5>
    <% }); %>
      </div>
    </div>
  </div>
  <% }); %>

