

<% job_list.forEach(function(job){ %>

<div class="col-md-6 col-sm-12 py-2">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">
                    <%= job.title %>
            </h5>
            <% job.theme.forEach(function(theme){ %>
                <span class="badge badge-pill badge-secondary"><%= theme %></span>

            <% }); %>

            <p class="card-subtitle mt-3 text-muted">
                    <%= job.description %>
            </p>
            <hr>
            <ul class="list-inline" style="font-size: 12px">
                <li class="list-inline-item">
                    <a name="" id="" class="" href="listing/<%= job.id %>" role="button">Learn More</a>
                </li>
                <div class="float-right" >
                    <li class="list-inline-item text-muted "> <i class="fas fa-calendar"></i>  24th Aug 2018</li>
                    <li class="list-inline-item text-muted"> <i class="fa fa-id-card" aria-hidden="true"></i>  Dr.Pensill</li>
                </div>   
              </ul>
            

        </div>

    </div>
  </div>
  <% }); %>

