<% include ../partials/navbar_students %>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" >
    <div class="container">
      <div class="row">
        <%- include('../partials/studies_cards'); %>
      </div>
    </div>
  </div>

<% include ../partials/footer_students %>