<% include ../partials/navbar_students %>


<div class="container-fluid py-5 px-5 bg-white">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="row mx-auto">
        <div class="col-md-9 col-lg-10 col-sm-12">
          <h1>Finding Opportunity Is Now Easy</h1>
          <p class="text-muted">
            Pensill is collaboration platform, that allows faculty and students to find the right research match for each other. 
          </p>
        </div>
        
      </div>
      
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6 my-2">
    <div class="card text-left|center|right">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
    <h4 class="card-title">For Faculty</h4>
    <p class="card-text">
      <ul>
        <li>
          Create personalized profiles.
        </li>
        <li>
          Share research projects.
        </li>
        <li>
          Upload research studies.
        </li>

      </ul>

    </p>
    </div>
    </div>
    
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 my-2">
    <div class="card text-left|center|right">
    <img class="card-img-top" src="" alt="">
    <div class="card-body">
    <h4 class="card-title">For Student</h4>
    <p class="card-text text-muted">
      <ul>
        <li>Discover graduate projects and other opportunities.</li>
        <li>Search for faculty based on research area.</li>
        <li>Participate in research studies and get paid.</li>
      </ul>
    </p>
    </div>
    </div>

  </div>
  
  </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-0">
      <img style="width:100%" src="/images/landing_page.png" alt="">

    </div>



  </div>
</div>


      
  



  
  <% include ../partials/footer_students %>