<% include ../partials/navbar_students %>


<div class="container-fluid  px-5 bg-white">
  <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-0">
          <img style="width:100%" src="/images/landing_page.png" alt="">
    
        </div>

    <div class="col-md-6 col-lg-6">
      <div class="row mx-auto align-items-center">
        <div class="col-md-6 col-lg-6 col-sm-12 m-auto">
          <h1 class="font-weight-bold">Finding Opportunity Is Now Easy</h1>
          <p class="text-muted">
            Pensill is a collaboration platform that allows faculty and students to find the right match. Increasing research productivity. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bg-white py-5">
    <h1 class="text-center font-weight-bold mb-4">How It Works?</h1>
    <div class="row m-auto">
        <div class="col-md-6 col-sm-12 m-auto py-4">
          <p class="text-muted">
            Pensill's listings provide visibility and increased outreach for faculty members looking for students to collaborate on projects. You no longer have to rely only on departmental mails to spread a word about opportunities.
            Members can create listing in matter of minutes. Student can easily search these listing according to their research interest and find projects to contribute to. 
            
        </div>
    </div>

    <div class="row m-auto">

      <div class="col-md-9 col-sm-12 m-auto">
        <div class="row m-auto">
      <div class="col-lg-6 col-md-6 col-sm-6 my-2 ">
      <div class="card text-left|center|right">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
      <h4 class="card-title text-center" >For Faculty</h4>
      <p class="card-text">
        <ul>
          <li>
            Personalized Profiles. Effortlessly update and add new areas of research. Make it easy for prospective students to find you. 
          </li>
          <br>
          <li>
            Share ongoing or forthcoming projects. Create listings that don't go missing in the departmental mails. 
          </li>
          <br>
          <li>
              Upload Research Studies. Forget overlooked pin boards, and group emails. Get instant visibility. 
          </li>
          
        </ul>
      </p>


      <a href="/login" class="btn ov-btn-login btn-block">Start Listing</a>
      </div>
      </div>
      
      </div>
      <div class="col-lg-6 col-md-5 col-sm-6 my-2">
      <div class="card text-left|center|right">
      <img class="card-img-top" src="" alt="">
      <div class="card-body">
      <h4 class="card-title text-center">For Students</h4>
      <p class="card-text text-muted">
        <ul>
          <li>Discover graduate projects and other opportunities.</li>
          <br>
          <li>Search for faculty based on research area.</li>
          <br>
          <li>Participate in research studies and get paid.</li>
          <br>
        </ul>
      </p>

      <a href="/opportunities/" class="btn ov-btn-login btn-block">Find An Opportunity Now</a>
      </div>
      </div>
  
    </div>
    
    </div>

</div>
</div>
</div>




  
  <% include ../partials/footer_students %>